.body-index {
    background: url(../img/back.png);
    background-color: #444;
    background: url(../img/back.png),url(../img/back.png),url(../img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.vertical-offset-100 {
    padding-top:100px;
}

.yellow {
    background-color: yellow;
    background: yellow;
}

